

.logo {
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: white;
  background-color: red;
  height: 31px;
  border-radius: 25px;
  width: 330px;
  opacity: 0.9;
}

.logoContainer {
  position: absolute;
  margin-top: 160px;
  margin-left: 293px;
  animation: bounce-in 2.5s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
}

  100% {
      transform: scale(1);
  }
}

html {
  display: flex;
  justify-content: center;
  background-color: black;
}

.curve {
  width: 800px;
  height: 205px;
  border: solid 2px #000;
  border-color:#000 #000 #000 #000;
  border-radius: 55%/155px 155px 0 0;
  position: absolute;
  padding-left: 96px;
  margin-top: 391px;
  background-color: white;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sun {
  border-color: black;
	border-radius: 50%;
	width: 165px;
	height: 165px;
  margin-top: 430px;
  margin-left: 70px;
  position: absolute;
  z-index: 0;
  background-color: red;
  animation: rising 3.5s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

@keyframes rising {
  0% {
    transform: translate(0, 0) scale3d(.3, .3, .3);
  }

  100% {
    transform: translate(0, -120px) scale3d(1.2, 1.2, 1.2);
  }
}

.splashHi {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  margin-top: 91px;
  margin-left: 261px;
}

.splashHi2 {
  position: absolute;
  z-index: 0;
  width: 100px;
  height: 100px;
  margin-top: 200px;
  margin-left: 55px;
}

.splashTextTop {
  margin-top: 40px;
  margin-left: 262px;
}

.splashText {
  line-height: 130%;
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 70px;
  margin-right: 50px;
  position: absolute;
  z-index: 2;
}

.splashScreen {
  border-radius: 25px;
  background-color: white;
  height: 600px;
  width: 900px;
  background-image: url("images/fuji2.jpg");
}

.indexHelperText {
  color: red;
  width: 418px;
  background-color: white;
  margin-top: 10px;
  padding-left: 5px;
  margin-left: 238px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  z-index: 5;
}

.splashIndex {
  background-image: url("images/shibuyaatnight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.charIndex {
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

.front {
  cursor: pointer;
}

button:focus {
  display: none;
  box-shadow: 0 0 3px #ddd;
}

.splashButton {
  display: flex;
  padding-left: 15px;
  background: red;
  background-color: red;
  border: none;
  color: white;
}

.splashLink {
  display: flex;
  position: absolute;
  z-index: 1
  background-color: red;
  background: red;
  color: white;
  border: none;
  margin-top: 40px;
  height: 30px;
  width: 100px;
}

.titlesIndex {
  display: flex;
  flex-direction: row;
  padding-top: 76px;
}

.titleRoma {
  margin-left:  210px;
  width: 55px;
  height: 18px;
  padding-left: 5px;
  background-color: white;
  border-radius: 15px;
}

.romaji {
  background-color: white;
  border-radius: 15px;
  width: 58px;
  height: 58px;
  font-size: 50px;
}

.pro {
  background-color: white;
  border-radius: 15px;
  width: 74px;
  height: 58px;
  font-size: 47px;
}


.titleHira {
  margin-left: 165px;
  width: 63px;
  height: 18px;
  background-color: white;
  border-radius: 15px;
  padding-left: 5px;
}





.titlePro {
  margin-left: 201px;
  background-color: white;
  border-radius: 15px;
  width: 93px;
  height: 18px;
  padding-left: 5px;
}

li.charIdx.chars {
  display: flex;
  justify-content: center;
}

li.charIdx {
  list-style: none;
}

.line0 {
  animation: cascading 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 60px;

}

.line1 {
  animation: cascading 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 60px;
}

.line2 {
  animation: cascading 2s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 60px;
}


.line3 {
  animation: cascading 2s;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 60px;
}

.line4 {
  animation: cascading 2s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 60px;
}

@keyframes cascading {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.index-img {
  width: 58px;
  height: 58px;
  background-color: white;
  border-radius: 15px;
}

.quizImageArea {
  display: flex;
  justify-content: center;

}

.quizChar {
  margin-top: 60px;
  height: 300px;
  /*animation: fadeInLeft 2s;*/
  background-color: white;
  border-radius: 20px;
}
/*
@keyframes fadeInLeft{
  0% {
      opacity: 0;
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}*/

.nextQuizLink {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  background-color: red;
  background: red;
  color: white;
  border: none;
  margin-top: 168px;
  margin-left: 400px;
  height: 30px;
  width: 100px;
}

.nextQuizButton {
  padding-left: 9px;
  background: red;
  background-color: red;
  border: none;
  color: white;
  width: 100px;
}

.quizToLink {
  padding-left: 9px;
  margin-left: 400px;
  background: red;
  background-color: red;
  border: none;
  color: white;
  width: 130px;
}

.quizTop {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quizBottom {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}




.cardContainerTop {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContainerBottom {
  width: 225px;
  display: flex;
  justify-content: space-between;
}


.card1 {
  width: 130px;
  height: 100px;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 25px;
}

.card1 div {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 100px;
  position: absolute;
  backface-visibility: hidden;
}

.card1.flipped {
  transform: rotateY(180deg);
}





.card2 {
  width: 130px;
  height: 100px;
  transition: transform 1s;
  transform-style: preserve-3d;
  /*animation: flipper 2s infinite;*/
  /*animation-direction: alternate;*/
  /*background-color: red*/
  border-radius: 25px;
}

.card2 div {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 100px;
  position: absolute;
  backface-visibility: hidden;
}

/*.card2 .front {
  background: purple;
}

.card2 .back {
  background: blue;
  transform: rotateY(180deg);
}*/

.card2.flipped {
  transform: rotateY(180deg);
}






.card3 {
  width: 130px;
  height: 100px;
  transition: transform 1s;
  transform-style: preserve-3d;
  /*animation: flipper 2s infinite;*/
  /*animation-direction: alternate;*/
  /*background-color: red*/
  border-radius: 25px;
}

.card3 div {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 100px;
  position: absolute;
  backface-visibility: hidden;
}

/*.card3 .front {
  background: purple;
}

.card3 .back {
  background: blue;
  transform: rotateY(180deg);
}*/

.card3.flipped {
  transform: rotateY(180deg);
}


.card4 {
  width: 100px;
  height: 100px;
  transition: transform 1s;
  transform-style: preserve-3d;
  /*animation: flipper 2s infinite;*/
  /*animation-direction: alternate;*/
  /*background-color: red*/
}

.card4 div {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 100px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: blue;
}

.back {
  background: orange;
  transform: rotateY(180deg);
}

.card4 .back {
  /*background: blue;*/
  /*transform: rotateY(180deg);*/
}

.card4.flipped {
  transform: rotateY(180deg);
}

/*
@keyframes flipper {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}*/

.X {
  background: red;
}

.O {
  background: green;
}

.quizLink {
  display: hidden;
}

.dropdown-button {
  background: red;
  border: none;
  color: white;
  width: 200px;
  height: 37px;
  font-size: 14px;
  border-radius: 25px
}

.newUserButton {
  background: red;
  border: none;
  color: white;
  width: 200px;
  height: 25px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.dropdown-Container {
  position: relative;
  /*display: flex;*/
  /*justify-content: center;*/
  /*margin-left: 362px;*/
  height: 200px;
  width: 200px;
  /*background-color: white;*/
  z-index: 4;
}


.dropdown-List {
  padding-top: 250px;
  padding-left: 357px;
}

.dropdown-list li {
  margin-top: 3px;
}

.dropdown-list {
  margin-top: 0px;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 50px;
  list-style-position:inside;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  list-style-type: none;
  /*border-bottom-left-radius: 15px;*/
  /*border-bottom-right-radius: 15px;*/
  border-color: black;
  background-color: white;
  position: absolute;
  z-index: 4;
  width: 176px;
}

.dropDownButton {
  /*border-radius: 25px;*/
  background-color: red;
  background: red;
  color: white;
  border: none;
  height: 30px;
  width: 100%;
}
