

.logo {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

html {
  display: flex;
  justify-content: center;
  background-color: black;
}

.curve {
  width:800px; height:100px;
  border: solid 2px #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  position: absolute;
  padding-left: 90px;
  margin-top: 300px;
  background-color: white;
  z-index: 1
}

.sun {
  border-color: black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
  margin-top: 200px;
  margin-left: 50px;
  position: absolute;
  z-index: 0;
  background-color: red;
}

.splashText {
  margin-top: 80px;
  padding-left: 50px;
  padding-right: 70px;
  margin-right: 50px;
  position: absolute;
  z-index: 2;
}

.splashScreen {
  border-radius: 25px;
  background-color: white;
  height: 600px;
  width: 900px;
}

.dropdown-button {
  margin-left: 200px;
}

.dropdown-Container {
  margin-left: 200px;
  position: absolute;
  z-index: 4;
}

.dropdown-list {
  list-style-position:inside;
  border: 1px solid black;
  list-style-type: none;
  border-radius: 15px;
  border-color: black;
  margin: 3px;
  background-color: white;
  position: absolute;
  z-index: 4;
  width: 115px;
}
